---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro Sandbox Template</title>
  </head>
  <body>
    <h1>Welcome to your Astro Sandbox Template!</h1>
  </body>
</html>
